@page "{id}"
@model NetGram.Pages.Posts.IndexModel
@{
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link href="~/reset.css" rel="stylesheet" />
        <link href="~/StyleSheet.css" rel="stylesheet" />
    </head>

    <body>
        <a asp-page="/Index">Home</a>
        <div>
            <label asp-for="Post.Title"></label>
            <label asp-for="Post.Title">@Model.Post.Title</label>

            <label asp-for="Post.Author"></label>
            <label asp-for="Post.Author">@Model.Post.Author</label>

            <label asp-for="Post.Description"></label>
            <label asp-for="Post.Description">@Model.Post.Description</label>

            <a asp-page="/Posts/Manage" asp-route-id="@Model.Post.ID">EDIT</a>
        </div>
    </body>
</html>