@page
@using NetGram.Models.Interfaces

@inject INetGram NetGramInjection

@{
    var netGramPosts = await NetGramInjection.GetAllPosts();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/reset.css" rel="stylesheet" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
</head>

<body>
    <h1>Welcome to Julie's DotNetGram</h1>
    <a class="manageButton" asp-page="/Posts/Manage">Add New Post</a>
    @foreach (var item in netGramPosts)
    {
        <div class="mainPgPosts">
            <img class="image" src="@item.ImageURL" alt="@item.Title" />
            <a class="detailsLink" asp-page="/Posts/Index" asp-route-id="@item.ID">@item.Title</a>
            <p class="detailsLink">@item.Author</p>
            <p class="descriptionTag">@item.Description</p>
        </div>
    }
</body>
</html>